.profile {
  width: 400px;
  text-align: center;
  width: 600px;
  &--avatar {
    border-radius: 50%;
    height: 250px;
  }
  &--name {
    font-size: 46px;
  }
  h1 {
    margin-bottom: 30px;
  }
  h3 {
    font-weight: 300;
  }
}
